.reports {
    width: 100%;
}


/* <thead>
<tr>
    <th>S NO</th>
    <th>DATE</th>
    <th>NAME OF THE EVENT</th>
    <th>DOMAIN</th>
    <th>NUMBER OF STUDENTS PARTICIPATED</th>
</tr>
</thead>
<tbody>
{eventData.map((event) => (
    <tr key={event.sno}>
    <td>{event.sno}</td>
    <td>{event.date}</td>
    <td>{event.eventName}</td>
    <td>{event.domain}</td>
    <td>{event.participants}</td>
    </tr>
))}
</tbody> */

.reports-table {
    width: 90%;
    margin: auto;
    /* padding: 2rem 0rem; */
    height: 100vh;
    overflow: hidden;
}
.reports-table-in-one table {
    border: 2px solid green;
    width: 100%;
    border-collapse: collapse;

}

.reports-table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
}
.back-to-home {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
    margin: 0.1rem;
}
.reports-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid green;
    padding: 0.4rem;
}
/* .reports-table-top select {
    border: 1px solid green;
}
 */

.reports-table-in-one table td, .reports-table-in-one table th {
    border: 1px solid green;
    padding: 5px;
}

.reports-table-in-one .reports-dropdown {
    width: 35%;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.4rem;
}

.reports-table-in-one table th {
    background-color: green;
    color: white;
    border: 1px solid black;
}

.reports-table-in-one {
    height: 80vh;
}
.reports-table table tr:nth-child(even) {
    background-color: #f9f7f7;
}

.reports-table-in-one table tr th:nth-child(1) {
    width: 5%;
}

.reports-table-in-one table tr th:nth-child(2) {
    width: 10%;
}

.reports-table-in-one table tr th:nth-child(3) {
    width: 40%;
}

.reports-table-in-one table tr th:nth-child(4) {
    width: 20%;
}

.reports-table-in-one table tr th:nth-child(5) {
    width: 15%;
}

.reports-table-in-one table tr th:nth-child(6) {
    width: 10%;
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem;
}
.pagination button {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
    margin: 0.1rem;
}

.pagination span {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
}

