.activities_table {
    width: 100%;
}
.activities_table_in {
    width: 95%;
    margin: auto;
    padding: 0.2rem 
}
.activities_table_in_HeaderTwo {
    width: 100%;
}

.activities_table_in_HeaderTwo_in {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.activities_table_in_Heading {
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.activities_table_in_search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 13%;
}


.activities_table_in_search_in input {
    border: 1px solid green;
    padding: 0.4rem;
}
.activities_table_in_Options{
    width: 20%;
}
.activities_table_in_Options_in{
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DateOption{
    border: 1px solid green;
    padding: 0.2rem;
    flex: 1;
    color: black;
}
.DateOption select{
    background-color:green;
    padding: 0.1rem;
}
.BackHome{
    background-color: green;
    padding: 0.3rem;
    color: white;
    text-decoration: none;
}
.activities_table_in_count_in{
    width: 100%;
    padding: 0.5rem;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activities_table_in_one_in {
    width: 100%;
}
.activities_table_in_one_in table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid green;
    table-layout: fixed;
    height: 84vh;
}
.activities_table_in_one_in table th {
    border: 2px solid black;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: green;
    color: white;
}
.activities_table_in_one_in table th:nth-child(1) {
    width: 10%; /* Adjusted for Date column header */
}

.activities_table_in_one_in table th:nth-child(2) {
    width: 40%; /* Adjusted for Village Name column header */
}

.activities_table_in_one_in table th:nth-child(3) {
    width: 10%; /* Adjusted for Name of the Event column header */
}

.activities_table_in_one_in table th:nth-child(4) {
    width: 10%; /* Adjusted for Domain column header */
}


.activities_table_in_one_in table td {
    border: 1px solid green;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.3rem;
}

.activities_table_in_one_in table td:nth-child(2) {
    text-align: left;
}

.DateOption {
    border: 1px solid white;
    background-color: transparent;
}

select {
    border: none; /* Remove default border */
    outline: none; /* Remove default focus outline */
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.pagination button {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
    margin: 0.1rem;
}

.pagination span {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
}